<p>cards works!</p>
<mat-card>A Basic Card</mat-card>
<hr>
<!-- A little more advanced with a title, content, and action row section
for user input. You can place the button at the end using the align="right" -->
<mat-card>
    <mat-card-title>
        This is the Card Title
    </mat-card-title>
    <mat-card-content>
        This is the card content
    </mat-card-content>
    <mat-card-actions align="right">
        <button mat-flat-button >Login</button>
    </mat-card-actions>
</mat-card>


SEE THE API IN THE ANGULAR MATERIAL DESIGN SITE FOR MORE ADVANCED CARD 
ATTRIBUTES. I.E. FOR FORMS,PICTURE POSTS, AND PROFILES!!!