<!-- <button mat-button>Hello World</button>
 -->
 <!-- <button mat-raised-button>Hello World2</button> -->
 <!-- <app-typography></app-typography> -->
 <!-- <app-buttons></app-buttons> -->
 <!-- <app-icons></app-icons> -->
 <!-- to use just write the name in the mat icon add color to the icon the color attribute like a button -->
 <!-- <mat-icon color="primary">add_shopping_cart  alarm build credit_card check box </mat-icon> -->
 <!-- <br> -->
  <!-- <mat-icon color="warn">smoking_rooms</mat-icon>  -->
 <!-- <app-badges></app-badges> -->
 <!-- <app-spinner-module></app-spinner-module> -->
 <!-- <app-navbars></app-navbars> -->
 <!-- <app-sidebar></app-sidebar> -->
 <!-- <app-menus></app-menus> -->
 <!-- <app-lists></app-lists> -->
 <!-- <app-grids></app-grids> -->
 <!-- <app-expansion-panels></app-expansion-panels> -->
 <!-- <app-cards></app-cards> -->
 <!-- <app-tabs></app-tabs> -->
 <!-- <app-stepper></app-stepper> -->
 <!-- <app-input></app-input> -->
 <!-- <app-select></app-select> -->
 <!-- <app-autocomplete></app-autocomplete> -->
 <app-checkbox-and-radio-buttons></app-checkbox-and-radio-buttons>